<html>
    <head>
        <title>AdminUI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.11.0/dist/quasar.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.prod.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.11.0/dist/quasar.umd.prod.js" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <div id="AdminUI">
            <div class="container">
                <div id="quickActions">
                    <div v-for="(v, index) in tabs">
                        <q-btn v-on:click="SwitchTab(v.name)" class="full-width quickaction" unelevated :icon="v.icon" :class="{ activeTab: tab == v.name }"></q-btn>
                    </div>
                    <q-separator spaced dark></q-separator>
                </div>
                <q-tab-panels v-model="tab" animated dark transition-prev="fade" transition-next="fade">
                    <q-tab-panel name="commands"></q-tab-panel>
                    <q-tab-panel name="online"></q-tab-panel>
                    <q-tab-panel name="bans"></q-tab-panel>
                </q-tab-panels>

            </div>
        </div>
    </body>
</html>
