body {background: #00000000!important; overflow: hidden;}
div#q-loading-bar {display: none!important;}
::-webkit-scrollbar  {display: hide; width: 6px; border: 0px;}
::-webkit-scrollbar-track {background: #ffffff32; border-radius: 8px;}
::-webkit-scrollbar-thumb {background: #ffffffb3; border-radius: 8px;}
.q-btn {text-transform: none!important; font-weight: 500!important;}
#AdminUI {display: none;}

:root {
  --bgPrimary: #0d1117!important;
  --bgSecondary: #161B22!important;
  --bgTertiary: #21262D!important;
  --bgAlt: #1d2e46!important;
  --odd: #1a2029!important;
  --even: #1a2029!important;
  --quickaction: #565c66!important;
  --activeQuickaction: #ba233f!important;
  --borderColor: #ffffff40!important;
  --bgCard: #30363d!important;
  --selectMenu: #0d1117!important;

  --accentMain: #0c57ad!important;
  --accentMain-transparent: #005aadcc!important;
  --bgInput: rgba(255, 255, 255, 0.1)!important;
  --input-focus: #2572de !important;
  --activeUtility: #0a854388!important;
  --fav: #e9c40e;
  --text-primary: white!important;
  --text-secondary: #005aad!important;
  --text-submit: #005aad!important;
  --text-deny: #b21f38!important;
  --text-confirm: #0a8543!important;
  --submit: #0c57ad !important;
  --deny: #af1d38!important;
  --cancel: #5a616b!important;
  --confirm: #0a8543!important;
}
.refreshBtn {
  margin-left: 6px!important;
}
.container {
  display: flex; flex-direction: row;
  background: var(--bgPrimary)!important;
  position: fixed;
  top: 50%; right: 0.5%;
  transform: translate(-0%,-50%);
  height: 70vh; width: 24vw;
  border: 1px solid #000000!important;
  overflow: hidden;
  border-radius: 8px;
}

#sidebar {
  background: var(--bgSecondary)!important;
  color: white;
  height: 100%; width: 56px;
  padding: 6px;
  display: flex; flex-direction: column;
  gap: 6px;
  overflow: hidden;
  border-right: 1px solid var(--borderColor)!important;
}
#filters {
  margin-left: 1px;
}
.tabHeader {
  background: var(--bgAlt)!important;
  border-bottom: 1px solid var(--borderColor)!important;
}
.quickaction {
  background: var(--quickaction)!important;
  border: none;
  font-size: 13px!important;
}
#filterbar {
  background: #101010!important;
  display: flex; flex-direction: row;
  width: 100%;
  padding: 12px;
  position: relative;
  padding: 0px!important;
}
.filterBtn {
  color: white!important;
  width: 100%!important;
  height: 42px!important;
  border: 0px solid var(--borderColor)!important; border-radius: 0px!important;
  text-align: center!important;
  border-radius: 0px!important;
  font-weight: 400!important;
  padding: 0px!important;
  cursor: pointer;
  display: flex; flex-direction: row; justify-content: center; align-items: center;
  transition: 0.25s!important;
}

.dataList {
  height: 100%; width: 100%;
  overflow-y: auto;
  position: relative;
  bottom: 0%!important;
  bottom: 0!important;
  list-style: none;
  border: none;
  margin-top: 4px!important;
  margin-bottom: 8px!important;
  padding-left: 2%!important; padding-right: 2%!important;
  padding-top: 3%;
}

.command {
  color: white!important;
  border-radius: 0px!important;
  height: 3vh!important; width: 100%!important;
  border: 0px solid var(--borderColor)!important;
  font-size: 14px!important;
  font-weight: 400!important;
  transition: 0.1s!important;
}

.commandCard {
  color: #fffffff1!important;
  background: var(--bgCard)!important;
  border: 0px solid var(--borderColor)!important;
  border-top: 1px solid var(--borderColor)!important;
  border-radius: 0px;
  gap: 6px;
  display: flex; flex-direction: column;
  padding: 10px;
  padding-top: 8px;
  margin-top: 0px!important;
}

.commandActions {
  display: flex; flex-direction: row;
  gap: 6px;
  padding: 0px!important;
  margin-bottom: -2px!important;
}

.playerItem {
  background: var(--even)!important;
  color: white;
  display: flex; flex-direction: row;
  padding: 6px;
  gap: 6px;
  overflow: hidden;

}

.q-tab-panels, .q-tab-panel {
  background: rgb(0, 0, 0, 0.0)!important;
  padding: 0px!important;
  display: flex; flex-direction: column;
  position: relative!important;
  height: 100%!important;
  width: 100%!important;
}

.submit, .confirm, .deny, .cancel {width: 120px!important; font-weight: 500!important;}
.submit {background: var(--accentMain)!important}
.confirm {background: var(--confirm)!important;}
.deny {background: var(--deny)!important;}
.cancel {background: var(--cancel)!important;}
.bg-submit {background: var(--submit)!important}
.bg-confirm {background: var(--confirm)!important;}
.bg-deny {background: var(--deny)!important;}
.bg-cancel {background: var(--cancel)!important;}
.text-fav {color: var(--fav)!important}
.bg-input {background: var(--bgInput)!important;}
.activeTab { background: var(--accentMain)!important}
.activeQA {background: var(--activeQuickaction)!important}
.activeUtility {background: var(--activeUtility)!important}

li:nth-child(odd) {background: var(--odd)!important;}
li:nth-child(even) {background: var(--even)!important;}

.activeFilter {
  /* transparent white */
  background: var(--accentMain)!important;
}
.targetPlayer {background: #0f64c4cc!important;}

.extraOptions {
  display: flex; flex-direction: column;
  gap: 4px;
}

.select-options {
  background: var(--selectMenu)!important;
  max-height: 160px!important;
}
.favToggle {
  font-size: 16px!important;
  padding: none!important; margin-right: 8px!important;
}
.q-checkbox__icon {
  font-size: 65%!important;
}

@media (width: 1920px) and (height: 1080px) {
  .container { height: 80vh!important; width: 24vw!important;}
  .command {font-size: 13px!important; height: 3.75vh!important;}
}
@media (width: 2560px) and (height: 1440px) {
  .container { height: 75vh!important; width: 19vw!important;}
  .command {font-size: 14px!important; height: 3vh!important;}
}

